/* You can add custom styles here. */

// @import "plugins/numbered";

a {
  outline: 0;
}

.markdown figure {
  display: block;
  margin: 3em 0;
  text-align: center;

  > img {
    display: block;
    margin: 0 auto;
  }

  > figcaption {
    opacity: 0.5;
    font-size: 11px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 400px;
    width: 90%;
    text-align: center;

    > h4 {
      color: inherit;
      font: inherit;
      text-align: inherit;
    }
  }
}

.page-header {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid #e9ecef;

  > h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
  }

  > p {
    margin: 1em 0 0;
    opacity: 0.6;
    font-size: 1.125em;
    line-height: 1.4;
  }
}

.book-posts {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.book-post {
  display: block;
  background: #fff;
  border-radius: 4px;
  padding: 18px;
  color: inherit;
  box-shadow: 2px 2px 13px #e9ecef;

  > h2 {
    margin: 0;
    font-size: 1.25em;
    color: inherit;
  }

  > p {
    margin: 1em 0 0;
    font-size: 1em;
    opacity: 0.6;
  }
}

.book-hint.todo {
  border: solid 2px purple;

  &:before {
    display: block;
    content: "TODO";
    font-size: 0.875em;
    font-weight: bold;
    color: purple;
  }
}

// @media (min-width: 897px) {
//   .book-menu {
//     margin-top: 0.5em;

//     > nav {
//       position: sticky;
//       bottom: auto;
//       max-height: 100vh;
//     }
//   }
// }

.book-brand {
  > a > img {
    display: block;
    margin: 0 auto 1em;
    width: 60%;
    // max-width: 100%;
    height: auto;
  }
}

.book-menu nav {
  background: #322263;
  background: linear-gradient(#322263, #6b0a93);
  color: #ffa300;
}

.book-menu a.active {
  color: #f70070;
  font-weight: bold;
}

.book-section-flat > span {
  color: #b9b1cf;
  font-size: 0.87em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-header > h1 {
  background: -webkit-linear-gradient(#6b0a93, #322263);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1280px) {
  .book-menu {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .book-menu {
    left: 0;
  }

  // .book-toc {
  //   right: 0;
  // }

  // .container {
  // max-width: 50rem;
  // }

  body {
    padding-left: $menu-width;
    // padding-right: $toc-width;
  }
}

.video {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.markdown {
  h2 {
    line-height: 1.25;
  }

  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
}
